/*
--------------------------------------------------------------------------
4.4 Header
--------------------------------------------------------------------------
*/
.cta {
    margin-top: 11rem;
    height: 60rem;
    border-top: 8px solid $dark-purple;
    border-bottom: 8px solid $dark-purple;
    @include respond(tab-port){
        margin-top: 6rem;
    }

    .row {
        height: 100%;
    }

    .inner {
        justify-content: center;
        display: flex;
        flex-direction: column;
        align-items: center;
        min-height: inherit;
    }

    h2 {
       
        color: $dark-purple;
        font-size: 4.5rem;
        font-weight: bold;
        margin-top: 1rem;
    
    
    }

    p {
        width: 100%;
        padding: 2.5rem 45rem 4rem 45rem;
        font-size: 1.8rem;
        color: #fff;
        @include respond(tab-port){
            padding: 2rem 3rem 4rem 3rem;
        }
    }

}


