/*
--------------------------------------------------------------------------
4.5 Reviews
--------------------------------------------------------------------------
*/
.reviews {
    @include respond(phone){
        padding-right: 3rem;
        padding-left: 3rem
    }
    position: relative;
    justify-content: center;
    margin-top: 8rem;
    margin-bottom: 15rem;
    @include respond(tab-port){
        margin-top: 5rem
    }

    &_box {
        @include respond(tab-port){
            flex: 0 0 100%;
        }
        flex: 0 1 29rem;
        height: 100%;
        padding-top: 1rem;
        padding-bottom: 1rem;
        box-shadow: 0px 2px 29px -10px rgba(123,97,255,0.57);
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        h3 {
            color: $dark-purple;
            font-size: 3rem;
            font-weight: bold;
            margin-top: 1rem;
        }

        p { 
            width: 100%;
            margin-top: 2rem;
            font-weight: 100;
            padding: 0 1rem;
        }

        img {
            width: 120px;
        }

    }

    &_box:not(:last-child){
        margin-right: 2rem;
        @include respond(tab-port){
            margin-right: 0rem;
            margin-bottom: 2rem
        }
    }

}

.box-surf {
    position: absolute;
    top: 40%;
    left: 90%;
    @include respond(tab-port){
        width: 30%;
        top: 20%;
    }
}

.social {
    &__icon {
        display: inline-block;
        margin-left: 0.6rem;
        font-size: 3rem;
        color: $light-purple;

        &:hover {
            color: $dark-purple
        }
    }
}
