/*
--------------------------------------------------------------------------
3.7 Archive
--------------------------------------------------------------------------
*/
.archive {
    .row {
        margin-bottom: 2.5rem;
    }

    &__head{
        padding: 3rem 3rem;
        margin-bottom: 4rem;
        margin-top: 4rem;
        display: block;
        border-left: 4px solid $dark-purple;
        
        h3{
            font-size: 3rem;
            text-transform: uppercase;
            font-weight: bold
        }
    }

    &__title {
        font-weight: bold;
        font-size: 2.3rem;
        color: $dark-purple;
        text-decoration: none
    
    }

    &__date {
        font-size: 1.3rem;
        font-style: italic;
        display: inline-block;
        margin-bottom: 0.6rem;
    }

    &__left {
        padding-bottom: 2rem
    }

    &__right {
        a{
            text-decoration: none
        }
    }

}